{% extends "base.html" %}

{% block content %}
  
<div class="container">
    <div class="card p-3 p-md-5 w-50 mx-auto">
        <h1 class="display text-center">Register</h1>
        <hr>
        <form action="{% url 'public-register' %}" method="post">
            {% csrf_token %}
            <label for="">Phone</label>
            <input type="number" class="form-control" name="username"><br>
            <label for="">Password</label>
            <input type="password" class="form-control" name="pwd1"><br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr>
        <p class="text-center" style="font-size: small;">If you already have an account, you can login <a href="{% url 'login' %}">here</a> and file a petition</p>
    </div>
</div>

{% endblock content %}